<header>
  <h1 id="ratio"></h1>
  <p>de livres écrits par des femmes</p>
</header>

<% @authors.each do |year, authors| %>
  <% year = "Année inconnue" if year == '0' %>
  <div class="year" data-year="<%= year %>">
    <h2><%= year %> <span class="percentage"></span></h2>
    <ul class="authors">
      <% authors.each do |id, info| %>
        <li data-id="<%= id %>" data-count="<%= info[:count] %>">
          <a href="https://www.goodreads.com/author/show/<%= id %>">
            <%= info[:name] %> 
          </a>
          <%= "(#{info[:count]})" if info[:count] > 1%>
          <span class="gender">&nbsp;</span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

